.container {
    background-color: white;
    border-radius: 4px;
}

td, th {
    padding-right: 20px;    
}

.col-md-3 {
    font-weight: bold;    
}

.col-md-3 a:hover {
    color: #8B0000;
    text-decoration: none;
}

.col-md-9 a:hover {
    text-decoration: none;
    color: #2F4F4F;
}
a:link, a:visited {
    color: black;
}
