.container {
    background-color: white;
    border-radius: 4px;
}

td, th {
    padding-right: 20px;    
}

.col-md-2 {
    font-weight: bold;    
}

.col-md-2 a:hover {
    color: #8B0000;
    text-decoration: none;
}

.col-md-10 a:hover {
    text-decoration: none;
    color: #2F4F4F;
}
a:link, a:visited {
    color: black;
}
.col-md-10 div {
    padding-top: 10px;                                                  
}
.col-md-10 table {
    margin-bottom: 20px;  
}
