<link rel="stylesheet" href="css/mail.css">

<div class="row">
  <div class="col-md-12"><h1>{{email}}</h1></div>
</div>
<div class="row">
  <div class="col-md-3">
    <p ng-repeat='mail in mailboxes'>
      <a href="" ng-click='mailbox_send(mail.mailbox)'>
        {{mail.mailbox}}{{mail.unseen}}
      </a>
    </p>
    <p><a href="" ng-click="exit()">EXIT</a></p>
  </div>
  <div class="col-md-9">
  <table>
    <tr><th ng-repeat='header in headers'>{{header}}</th></tr>
    <tr>
      <td><a href="" ng-click='seeLetter()'>{{letter.subj}}</a></td>
      <td><a href="" ng-click='seeLetter()'>{{letter.from}}</a></td>
      <td><a href="" ng-click='seeLetter()'>{{letter.date}}</a></td>
    </tr>
  </table>
  </div>
</div>
